.edit-icon{
    color: green;
}

.detail-icon{
    color:blue;
}

.delete-icon{
    color:red;
}

.navbar{
    text-align:center;
    width: 100%;
    padding: 0;
}

.login{
    text-align:center;
    justify-self: center;
    align-self:center;
}

.center{
    text-align:center;
    width: 100%;
}